.carousell{
	display: inline-block;

}

.carousel-wrapper {
	display: inline;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 340px;
	overflow: hidden;
}
li {
	display: inline-block;
}
img {
	display: inline;
	width: 300px;
	height: 300px;
	overflow: hidden;
	margin: 10px;

}